* {
  margin: 0;
  padding: 0;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust grid column count */
  gap: 10px;
  height: 100vh;
  width: 100%;
}

.content1 {
  grid-area: content1;
  background: red;
}

.content2 {
  grid-area: content2;
  background: blue;
}

.content3 {
  grid-area: content3;
  background: green;
}

.content4 {
  grid-area: content4;
  background: yellow;
}

.content5 {
  grid-area: content5;
  background: orange;
}

.content6 {
  grid-area: content6;
  background: purple;
}

.content7 {
  grid-area: content7;
  background: pink;
}

.content8 {
  grid-area: content8;
  background: orangered;
}

.content9 {
  grid-area: content9;
  background: darkgreen;
}
